body {
  font-family: "Ubuntu";
}

/* ------------------Sections------------------- */

.colored-section-one {
  background-color: #62b6b7;
  padding: auto;
}

.colored-section-two {
  background-color: #97dece;
  padding: 20px auto 20px;
}

/* ------------------Navigation Bar------------- */

.navbar-style {
  background-color: #cbedd5;
  color: black !important;
}

.navbar-border {
  border-radius: 30px;
}

/* ------------------Title---------------------- */

.title-image {
  position: absolute;
  right: 0.1rem;
  width: 25%;
  padding: 0;
}
.title {
  padding: 3% 10% 7%;
}
.title-no-button {
  padding: 3% 10% 15%;
}
.row {
  position: relative;
  padding: 3% 3% 5%;
}

/* ------------------Quote---------------------- */

.quote {
  background-color: white;
  padding: 3% 30% 7%;
  font-family: "Solitreo";
  font-size: 30px;
}

/* ------------------Footer---------------------- */

.copyright {
  text-align: center;
}
